body {
    background: linear-gradient(to right,rgb(56, 1, 1), rgb(236, 21, 21));
  }
  
  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .btn-custom {
    background-color: yellow;
    border-color: orangered;
    color: black;
  }
  
  .btn-custom:hover {
    background-color: orangered;
    border-color: yellow;
    color: black;
  }
  .card-body{
    background-color: rgb(255, 80, 21);
  }
  .card-text{
    text-align: justify;
  }

  footer {
    bottom: 0;
    width: 100%;
  }
  