@import url('https://fonts.cdnfonts.com/css/panton?styles=42490');

#carouselExampleIndicators{
    margin:100px;
}
#card1, #card3 , #card5 , #card7 , #card9{
    background-color: brown;
}

#card2 , #card4 , #card6 , #card8{
    background-color:brown;
}

.card{
    text-align: justify;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex: 1; /*flex: 1, que distribui o espaço disponível igualmente entre eles.*/
    margin: 10px;
    padding: 20px;
    height: 90%;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
  }
.card-container {
    display:inline-block;
    flex-wrap: wrap; /*flex-wrap: wrap permite que os cards quebrem para a próxima linha quando não houver espaço suficiente na largura do contêiner.*/
}
body{
    background-color: #dadada;
}
main{
    margin: 50px;
}
li a{
    color:gray;
}
li a:hover{
    color: rgb(130, 71, 71);
    text-decoration: none;
}

p{
    font-family: 'Panton', sans-serif;
}
h5{
    font-family: 'Panton Narrow', sans-serif;
}
footer{
    background-color: #AA0000;
}
#banner{
    background-color: #dadada;
    border: none;
}
.carousel-inner{
    border-radius: 30px; /* Ajuste o valor conforme necessário */
    overflow: hidden;
}